/*Global*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

@font-face {
    font-family : 'Zapfino Forte LT Pro';
    font-style  : normal;
    font-weight : normal;
    src         : local('Zapfino Forte LT Pro'), url('../fonts/zapfino-forte-lt-pro-5871d9863f073.woff') format('woff');
}

body {
    margin : 0;
}

.table {
    display : table;
    margin  : 0 auto;
}

.margin_auto {
    margin : auto !important;
}

/*Navigation*/
nav,
nav a {
    font-family : 'Fira Sans', sans-serif;
}

/*Home*/

#home > div {
    width                 : 100%;
    min-height            : 50vh;;
    background-image      : url("../images/stock/rotterdam_city.jpg");
    background-repeat     : no-repeat;
    background-size       : cover;
    background-attachment : fixed;
    display               : flex;
    align-items           : center;

}

#home > div > div {
    width            : 100%;
    min-height       : 50vh;
    background-color : rgba(63, 81, 181, 0.5);
    display          : flex;
    align-items      : center;
}

#home > div > div > div {
    height     : auto;
    width      : 100%;
    text-align : center;
}

/*About*/

.diamond, .dia {
    margin           : 0 auto;
    transform-origin : 50% 50%;
    overflow         : hidden;
    width            : 300px;
    height           : 300px;
}

.diamond {
    position  : relative;
    /*left        : 100%;
    margin-left : -150px;*/
    transform : rotate(45deg) translateY(-25px) translateX(-25px);
    z-index   : 0;
    top       : 10%;
}

.diamond .dia {
    width     : 380px;
    height    : 380px;
    transform : rotate(-45deg);
}

.diamond img {
    width  : 100%;
    height : auto;
}

.heading {
    font-family : 'Fira Sans', sans-serif;
    text-align  : center;
    color       : #FFFFFF;
}

#about .page-content {
    max-width: 80%;
    margin: auto;
}

#about > div > .heading {
    text-align       : center;
    font-family      : 'Fira Sans', sans-serif;
    background-color : #1C1C1C;
    min-height       : 40vh;
}

#about > div > .img {
    background-color : #3F51B5;
}

#about > div > .heading > h2 {
    position    : relative;
    top         : 50%;
    color       : #FFFFFF;
    font-family : 'Fira Sans', sans-serif;
}

#about .padding {

    padding          : 0 2%;
    font-weight      : 400;
    font-style       : normal;
    font-family      : 'Montserrat', sans-serif;
    font-size        : 1em;
    background-color : #FFFFFF;
}

.about-heading {
    background-color : #1C1C1C;
    color            : #FFFFFF;
    padding          : 0.5%;
    padding-left     : 1%;
}

.typewriter h1 {
    color          : #3F51B5;
    font-family    : monospace;
    overflow       : hidden; /* Ensures the content is not revealed until the animation */
    border-right   : .15em solid #3F51B5; /* The typwriter cursor */
    white-space    : nowrap; /* Keeps the content on a single line */
    margin         : 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing : .15em; /* Adjust as needed */
    animation      : typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width : 0
    }
    to {
        width : 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color : transparent
    }
    50% {
        border-color : #3F51B5
    }
}

/*Projects*/

/*#projects .heading {
    position  : fixed;
    top       : 50%;
    left      : 5vw;
    font-size : 40vw;
    z-index   : -1;
    color     : #AFAFAF;
}*/

#projects .heading {
    width      : 100%;
    text-align : center;
}

#projects .filter {
    width : 100%;
}

#projects > div:first-of-type {
    background-color : #1C1C1C;
}

.categories {
    float              : left;
    color              : #999999;
    line-height        : 40px;
    padding            : 0 45px 0 45px;
    position           : relative;
    margin             : 0 10px 10px 0;
    text-decoration    : none;
    -webkit-transition : color 0.2s;
}

.tags2 {
    list-style : none;
    margin     : 0;
    overflow   : hidden;
    padding    : 0;
}

.tags2 li {
    float : left;
}

.tag2 {
    border             : 1px solid #EEEEEE;
    color              : #999999;
    display            : inline-block;
    border-radius      : 10px;
    height             : 40px;
    line-height        : 40px;
    padding            : 0 45px 0 45px;
    position           : relative;
    margin             : 0 10px 10px 0;
    text-decoration    : none;
    -webkit-transition : color 0.2s;
}

.tag2:hover,
.tag2:active {
    background-color : #3F51B5;
    color            : #FFFFFF;
}

.tags {
    list-style : none;
    margin     : 0;
    overflow   : hidden;
    padding    : 0;
}

.tags li {
    float : left;
}

.tag {
    background         : #EEEEEE;
    color              : #999999;
    display            : inline-block;
    height             : 40px;
    line-height        : 40px;
    padding            : 0 45px 0 45px;
    position           : relative;
    margin             : 0 10px 10px 0;
    text-decoration    : none;
    -webkit-transition : color 0.2s;
}

.tag::before {
    background    : #1C1C1C;
    border-radius : 10px;
    box-shadow    : inset 0 1px rgba(0, 0, 0, 0.25);
    content       : '';
    height        : 6px;
    left          : 10px;
    position      : absolute;
    width         : 6px;
    top           : 46%;
}

.tag::after {
    background    : #1C1C1C;
    border-bottom : 20px solid transparent;
    border-left   : 10px solid #EEEEEE;
    border-top    : 20px solid transparent;
    content       : '';
    position      : absolute;
    right         : 0;
    top           : 0;
}

.tag:hover {
    background-color : #3F51B5;
    color            : #FFFFFF;
}

.tag:hover::after {
    border-left-color : #3F51B5;
}

.background-bar > div {
    background-color : #3F51B5;
    height           : 100vh;
    position         : fixed;
    left             : 50%;
    transform        : translate(-50%, 0);
    top              : 0;
    z-index          : -1;
}

.demo-card-square.mdl-card {
    width  : 100%;
    height : 320px;
}

.demo-card-square > .mdl-card__title {
    color                 : #FFFFFF;
    background            : linear-gradient(0deg, rgba(63, 81, 181, 0.5), rgba(63, 81, 181, 0.5)), url('http://www.hilltopoutdoorcentre.co.uk/bwa-assets/imgLibrary/images/Blog/coming-soon_0.jpg') no-repeat;
    background-size       : cover;
    background-position-y : center;
    -webkit-filter        : grayscale(100%);
    filter                : grayscale(100%);
    transition            : all 0.5s;
}

.demo-card-square > .mdl-card__title:hover {
    -webkit-filter : grayscale(0%);
    filter         : grayscale(0%);
    transition     : all 0.5s;
}

#projects > div {
    padding : 0 9%;
}

/*Services*/

#services > div:first-of-type {
    background-color : #3F51B5;
}

#services .heading {
    background-color : #3F51B5;
    width            : 100%;

}

#services .services > div {
    min-height : 50vh;
}

#services .services > div .heading {

    color            : #3F51B5;
    font-family      : 'Fira Sans', sans-serif;
    background-color : transparent;
    line-height      : 100%;
}

#services .design > div,
#services .development > div {
    background-color : rgba(255, 255, 255, 0.42);
    position         : relative;
    top              : 34%;
    height           : 20%;
}

#services .design {
    background-image    : url("../images/stock/StockSnap_2H4NZ2HAN3.jpg");
    background-size     : cover;
    background-position : center;
    background-repeat   : no-repeat;
    -webkit-filter      : grayscale(100%);
    filter              : grayscale(100%);
    transition          : all 0.5s;
}

#services .design:hover {
    -webkit-filter : grayscale(0%);
    filter         : grayscale(0%);
    transition     : all 0.5s;
}

#services .development {
    background-image    : url("../images/stock/StockSnap_402S0PDBGT.jpg");
    background-size     : cover;
    background-position : center;
    background-repeat   : no-repeat;
    -webkit-filter      : grayscale(100%);
    filter              : grayscale(100%);
    transition          : all 0.5s;
}

#services .development:hover {
    -webkit-filter : grayscale(0%);
    filter         : grayscale(0%);
    transition     : all 0.5s;
}

/*Contact*/

#contact .heading {
    line-height : 100%;

}

.button {
    display          : inline-block;
    background-color : #1C1C1C;
    border           : none;
    color            : #FFFFFF;
    text-align       : center;
    font-size        : 28px;
    padding          : 20px;
    width            : 100%;
    transition       : all 0.5s;
    cursor           : pointer;
}

.button:hover {
    background-color : #3F51B5;

}

.button span {
    cursor     : pointer;
    display    : inline-block;
    position   : relative;
    transition : 0.5s;
}

.button span:after {
    content    : '\00bb';
    position   : absolute;
    opacity    : 0;
    top        : 0;
    right      : -20px;
    transition : 0.5s;
}

.button:hover span {
    padding-right : 25px;
}

.button:hover span:after {
    opacity : 1;
    right   : 0;
}

#contact {
    background : #333333;
    width      : 100%;
    text-align : center;
}